<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="upload">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"/>
        </li>
    </ul>
</div>
<tr>
    <th>Пользователи проектов:</th>
</tr>
<table border="1">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Email</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.value}"></span></td>
        <td><span th:text="${user.email}"></span></td>
        <td><span th:text="${user.flag}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>